.logoBox {
    width: 100%;
    max-width: 115px;
    min-width: 115px;
}
.f-5 .f-col {
    width: 25% !important;
}
/* .test-innerCard {
    min-height: 280px !important;
} */
.testimonials-card {
    height: 65% !important;
}